.container {
  display: grid;
  grid-template-columns: 1fr 88svmin 1fr;
  gap: 8vmin;
}

.top {
  grid-column: 1 / 4;
  height: 300px;
  display: flex;
  background-color: var(--ifm-color-primary);
  padding: 0 calc(50vw - 44svmin);
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.top > .title {
  font-size: 6vmin;
  line-height: 6vmin;
  color: #fff;
  margin: 0;
  vertical-align: text-bottom;
}

.top > p {
  font-size: 1.6vmin;
  line-height: 2vmin;
  color: #fff;
}

.top > button {
  background-color: #fff;
  color: var(--ifm-color-primary);
  border: none;
  border-radius: 0.5vmin;
  padding: 0.8vmin 1.2vmin;
  font-size: 1.4vmin;
  font-weight: bold;
  cursor: pointer;
}

.contentTitle {
  border-left: solid 0.3vmin var(--ifm-color-primary);
  padding-left: 1vmin;
}

.products {
  grid-column: 2;
}

.activity {
  grid-column: 2;
  display: flex;
  flex-direction: row-reverse;
  gap: 4vmin;
}

.activityText {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 100%;
}

.activityImage {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 100%;
  height: 100%;
  border-radius: 0.4vmin;
  overflow: hidden;
}

.activityImage > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-aspect-ratio: 3 / 4) {
  .activity {
    flex-direction: column;
    gap: 1vmin;
  }

  .activityText {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
  }

  .activityImage {
    aspect-ratio: 16 / 9;
    margin-bottom: 2vmin;
  }
}

.activityText > p {
  margin: 0;
}

.members {
  grid-column: 2;
  margin-bottom: 4vmin;
}
