.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;
  padding: 4vmin;
}

.title {
  font-size: 4rem;
  margin: 0;
  padding: 0 1rem;
  text-shadow: 0 0 4px #fff;
  background-image: linear-gradient(to bottom, transparent, transparent 70%, #1d76d0 70%, #1d76d0);
}

.section {
  width: 50vmin;
  margin: 0 auto 64px;
}

.section > h2 {
  color: #1d76d0;
}

.text {
  padding-left: 1rem;
  border-left: solid 1px black;
}

.link {
  width: fit-content;
  margin: 0 auto;
  background-color: #1d76d0;
  padding: 8px 36px 6px 16px;
  border-radius: 20px;
  transition: background-color 0.2s ease-in-out;
  position: relative;
}

.link:hover {
  background-color: #195a9c;
}

.link > a {
  color: white;
  text-decoration: none;
}

.link::after {
  content: '';
  display: block;
  position: absolute;
  height: 20%;
  aspect-ratio: 1;
  top: 40%;
  right: 16px;
  border-right: solid 2px white;
  border-top: solid 2px white;
  transform: rotate(45deg);
}
