.container {
  display: flex;
  flex-direction: column;
  padding: 3vmin 4vmin;
  background-color: var(--color-bg-main);
  min-height: 100%;
}

.title {
  color: var(--color-accent);
}

.section {
  margin-bottom: 4vmin;
}
