.container {
  display: flex;
  flex-direction: column;
}

.addTable {
  height: 300px;
  width: 90%;
  background-color: rgb(209, 235, 252);
  border-radius: 20px;
  margin: 40px;
  padding-left: 30px;
}

.memberListContainer {
  height: 300px;
  width: 90%;
  background-color: rgb(209, 235, 252);
  border-radius: 20px;
  margin: 40px;
  padding-left: 30px;
}

.memberTable {
  width: 90%;
  background-color: rgb(142, 158, 241);
}
