.card {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: var(--ifm-background-surface-color);
  border-radius: 0.4rem;
  box-shadow: 0 0 0.4svmin #0001, inset 0 0 100vw #7772;
  container-type: inline-size;
  transition: box-shadow 0.2s ease-in-out;
}

[data-theme='dark'] .card {
  box-shadow: 0 0 0.4svmin #0001, inset 0 0 100vw #0004;
}

.card:hover {
  box-shadow: 0 0 1.2svmin var(--ifm-color-primary), inset 0 0 100vw #0004;
}

[data-theme='dark'] .card:hover {
  box-shadow: 0 0 1.2svmin var(--ifm-color-primary), inset 0 0 100vw #0008;
}

.cardInner {
  position: relative;
  display: grid;
  grid-template:
    'avatar info' 25cqmin
    'text   text' auto
    'status  status' auto / 25cqmin 1fr;
  gap: 8cqmin;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 10cqmin;
  clip-path: polygon(
    0 0,
    100% 0,
    100% 50%,
    92% 64%,
    92% 66%,
    100% 52%,
    100% 54%,
    92% 68%,
    92% 100%,
    0 100%
  );
  background-color: var(--ifm-background-surface-color);
}

.avatar {
  grid-area: avatar;
  align-self: start;
  width: 100%;
  aspect-ratio: 1;
  overflow: hidden;
  border-radius: 50%;
}

.avatar > img {
  display: block;
  width: 100%;
  height: 100%;
  user-select: none;
}

.info {
  display: flex;
  flex-direction: column;
  grid-area: info;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}

.name {
  margin: 0;
  font-size: 1.2rem;
  line-height: 1.6rem;
}

.username {
  margin: 0;
  font-size: 0.8rem;
  line-height: 1.2rem;
  opacity: 0.6;
}

.findy {
  width: fit-content;
  margin: 0;
  margin-top: 0.2rem;
  overflow: hidden;
  font-size: 0.7rem;
  line-height: 1rem;
  text-overflow: ellipsis;
  text-shadow: 0 0 0.2rem #aaa;
  white-space: nowrap;
  vertical-align: bottom;
  background-image: linear-gradient(
    135deg,
    var(--ifm-color-primary-lightest) 0%,
    var(--ifm-color-primary) 100%
  );
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% 20%;
}

.findy > span {
  font-size: 1.2rem;
}

.text {
  position: relative;
  z-index: 2;
  grid-area: text;
  width: 100%;
  height: 100%;
}

.status {
  position: relative;
  z-index: 2;
  display: flex;
  flex-flow: row wrap;
  grid-area: status;
  gap: 0.4rem;
  width: 100%;
  height: 100%;
}

.status > div {
  height: 1.4rem;
  padding: 0 0.4rem;
  overflow: hidden;
  font-size: 0.6rem;
  font-weight: bold;
  line-height: 1.4rem;
  color: #fff;
  text-overflow: ellipsis;
  text-shadow: 0 0 0.4rem #0008;
  white-space: nowrap;
  background-image: linear-gradient(
    135deg,
    var(--ifm-color-primary-lightest) 0%,
    var(--ifm-color-primary) 100%
  );
  border-radius: 0.7rem;
}

.count {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 2.4rem;
  font-style: italic;
  font-weight: bold;
  opacity: 0.05;
  transition: opacity 0.2s ease-in-out;
  transform: rotate(-90deg);
}

.cardInner:hover .count {
  opacity: 0.2;
}

@container (min-width: 44vmin) {
  .cardInner {
    grid-template:
      'avatar info' auto
      'avatar   text' auto
      'status  text' auto / 25cqmin 1fr;
    clip-path: polygon(
      0 0,
      100% 0,
      100% 92%,
      62% 92%,
      54% 100%,
      52% 100%,
      60% 92%,
      58% 92%,
      50% 100%,
      0 100%
    );
  }

  .count {
    top: 0;
    right: 1rem;
    bottom: auto;
    left: auto;
    transform: none;
  }
}
