.container {
  display: flex;
  flex-direction: column;
  padding: 2vmin 4vmin;
  min-height: 100%;
  background-color: var(--color-bg-main);
}

.title {
  margin-block: 16px;
  color: var(--color-accent);
}

.group {
  color: var(--color-fg-main);
}

.group span {
  display: inline-block;
  height: 30px;
}

.item {
  padding: 4px 20px 8px;
  margin: 4px 0 8px;
  border-radius: 8px;
  background-color: var(--color-bg-dark);
}

.item input {
  background-color: var(--color-bg-main);
}

.button {
  background-color: var(--color-accent);
  color: var(--color-fg-main);
  padding: 4px 8px;
  border-radius: 4px;
  border: 0;
  margin-left: auto;
}
