.info {
  color: var(--color-fg-main);
  font-weight: bold;
  white-space: pre-wrap;
}

.name,
.bracket-1 {
  color: var(--syntax-highlight-yellow);
}

.bracket-2 {
  color: var(--syntax-highlight-purple);
}

.const,
.null,
.undefined,
.boolean,
.bracket-3 {
  color: var(--syntax-highlight-blue);
}

.key {
  color: var(--syntax-highlight-sky);
}

.string {
  color: var(--syntax-highlight-orange);
}

.number {
  color: var(--syntax-highlight-green);
}
