.container {
  display: flex;
  grid-column: 2;
  gap: 0.8rem;
  align-items: flex-end;
  justify-content: center;
  line-height: 2rem;
}

.container > span {
  font-weight: bold;
  line-height: 2rem;
}

.container > span > span {
  font-size: 2rem;
  line-height: 2rem;
  color: transparent;
  background-image: linear-gradient(
    135deg,
    var(--ifm-color-primary-dark) 0%,
    var(--ifm-color-primary-lightest) 100%
  );
  background-clip: text;
}
