.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: var(--ifm-footer-background-color);
  background-image: radial-gradient(farthest-corner at top right, #200cfe1c 0%, #0000 70%),
    radial-gradient(farthest-corner at bottom left, #00abfb20 0%, #0000 70%);
  box-shadow: 0 0 2rem #ffffff0e;
}

.content {
  width: min(100svh, 80vw);
  margin: 8svmin 0;
}

.copyright {
  width: fit-content;
  margin: 0 auto;
}

.links {
  margin-bottom: 4rem;
}

.linkList {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  padding: 0;
  margin: 0;
}

.columns {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: space-between;
}

.column {
  flex: 1 1 100%;
}

.title {
  width: fit-content;
  margin-bottom: 0.8rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: transparent;
  background-image: linear-gradient(
    45deg,
    var(--ifm-color-primary-light),
    var(--ifm-color-primary-darker)
  );
  background-clip: text;
}

.link {
  width: fit-content;
  font-size: 1rem;
  line-height: 1.2rem;
  color: #fff;
}

.link:hover {
  color: var(--ifm-color-primary);
  text-decoration: none;
}

@media screen and (max-aspect-ratio: 3 / 4) {
  .columns {
    flex-direction: column;
  }
}
