.container {
  background-color: var(--color-bg-main);
  grid-area: main;
  height: 100%;
}

.body {
  padding: 20px 40px;
  color: var(--color-fg-main);
}

.one_slash_row {
  color: var(--color-accent);
  font-size: 60px;
}

.sub_title {
  font-size: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.two_slash_row {
  font-size: 25px;
}

.three_slash_row {
  font-size: 20px;
}

.normal_row {
  font-size: 20px;
  margin-bottom: 20px;
}

.main_title {
  font-size: 50px;
}
