.container {
  display: grid;
  grid-template-columns: 1fr min(100svh, 80vw) 1fr;
  gap: 8vmin;
  width: 100%;
}

.contentTitle {
  position: relative;
  margin: 0 0 2svmin;
  font-size: 2.4rem;
  font-weight: normal;
  color: transparent;
  letter-spacing: 0.2rem;
  cursor: pointer;
}

.contentTitle span {
  background-image: linear-gradient(
    135deg,
    var(--ifm-color-primary-lightest) 0%,
    var(--ifm-color-primary) 40%,
    var(--ifm-color-primary-darker) 100%
  );
  background-clip: text;
}

.contentTitle > a {
  display: block;
  color: inherit;
  text-decoration: none;
}

.contentTitle p {
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
  color: var(--ifm-font-color-base);
  opacity: 0.8;
}

.contentTitle::before {
  position: absolute;
  top: 0;
  left: -2rem;
  display: block;
  width: 1rem;
  color: var(--ifm-color-primary-lightest);
  content: '#';
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.contentTitle:hover::before {
  opacity: 1;
}

.about {
  grid-column: 2;
}

.activity {
  grid-column: 2;
}

.activityText {
  flex: 1 1 100%;
  margin: 0;
}

.activityText > p {
  font-size: 1rem;
  line-height: 1.6rem;
}

.activityImage {
  flex: 1 1 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 0.4vmin;
}

.activityImage > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-aspect-ratio: 3 / 4) {
  .activity {
    flex-direction: column;
    gap: 1vmin;
  }

  .activityText {
    flex: 0 0 auto;
  }

  .activityImage {
    aspect-ratio: 16 / 9;
    margin-bottom: 2vmin;
  }
}

.members {
  grid-column: 2;
  margin-bottom: 4vmin;
}
