.container {
  display: grid;
  grid-template-columns: 1fr 88svmin 1fr;
  gap: 8vmin;
}

.top {
  display: flex;
  flex-direction: column;
  grid-column: 1 / 4;
  align-items: flex-start;
  justify-content: center;
  height: 300px;
  padding: 0 calc(50vw - 44svmin);
  background-color: var(--ifm-color-primary);
}

.top > .title {
  margin: 0;
  font-size: 6vmin;
  line-height: 6vmin;
  color: #fff;
  vertical-align: text-bottom;
}

.top > p {
  font-size: 1.6vmin;
  line-height: 2vmin;
  color: #fff;
}

.top > a {
  display: inline-block;
  padding: 0.8vmin 1.2vmin;
  font-size: 1.4vmin;
  font-weight: bold;
  color: var(--ifm-color-primary);
  text-decoration: none;
  background-color: #fff;
  border: none;
  border-radius: 0.5vmin;
  transition-timing-function: ease-in-out, ease-in;
  transition-duration: 0.2s, 0.1s;
  transition-property: background-color, transform;
}

.top > a:hover {
  background-color: #f5f5f5;
}

.top > a:active {
  transform: scale(0.9);
}

.contentTitle {
  padding-left: 1vmin;
  border-left: solid 0.3vmin var(--ifm-color-primary);
}

.products {
  grid-column: 2;
}

.activity {
  display: flex;
  flex-direction: row-reverse;
  grid-column: 2;
  gap: 4vmin;
}

.activityText {
  flex: 1 1 100%;
}

.activityImage {
  flex: 1 1 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 0.4vmin;
}

.activityImage > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-aspect-ratio: 3 / 4) {
  .activity {
    flex-direction: column;
    gap: 1vmin;
  }

  .activityText {
    flex: 0 0 auto;
  }

  .activityImage {
    aspect-ratio: 16 / 9;
    margin-bottom: 2vmin;
  }
}

.activityText > p {
  margin: 0;
}

.members {
  grid-column: 2;
  margin-bottom: 4vmin;
}
