.container {
  display: grid;
  grid-template-columns: 1fr 88svmin 1fr;
  gap: 8vmin;
  width: 100%;
}

.contentTitle {
  padding-left: 0.8rem;
  border-left: solid 0.2rem var(--ifm-color-primary);
}

.products {
  grid-column: 2;
}

.activityHistory {
  grid-column: 2;
}

.activity {
  display: flex;
  flex-direction: row-reverse;
  grid-column: 2;
  gap: 4vmin;
}

.activityText {
  flex: 1 1 100%;
  margin: 0;
}

.activityText > p {
  font-size: 1rem;
  line-height: 1.6rem;
}

.activityImage {
  flex: 1 1 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 0.4vmin;
}

.activityImage > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-aspect-ratio: 3 / 4) {
  .activity {
    flex-direction: column;
    gap: 1vmin;
  }

  .activityText {
    flex: 0 0 auto;
  }

  .activityImage {
    aspect-ratio: 16 / 9;
    margin-bottom: 2vmin;
  }
}

.members {
  grid-column: 2;
  margin-bottom: 4vmin;
}
