.container {
  width: 88svmin;
  padding: 6svmin;
  margin: 0 auto;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 1svmin;
  justify-content: space-between;
  margin-bottom: 6svmin;
}

.title > h1 {
  margin: 0;
  font-size: 6svmin;
  line-height: 8svmin;
  word-break: keep-all;
}

.title > p {
  margin: 0;
  font-size: 3svmin;
  font-weight: bold;
  line-height: 3svmin;
  color: var(--ifm-color-primary);
}

.main {
  margin-bottom: 4svmin;
}

.toTop {
  position: relative;
  display: inline-block;
  padding: 0.4svmin 0.8svmin 0.4svmin 2.8svmin;
  font-size: 1.6svmin;
  font-weight: bold;
  line-height: 2.4svmin;
  color: #fff;
  letter-spacing: 0.1svmin;
  background-color: var(--ifm-color-primary-dark);
  border-radius: 0.8svmin;
  transition-timing-function: ease-in-out, ease-in;
  transition-duration: 0.2s, 0.05s;
  transition-property: background-color, transform;
}

.toTop:hover {
  color: #fff;
  text-decoration: none;
  background-color: var(--ifm-color-primary-darker);
}

.toTop:active {
  background-color: var(--ifm-color-primary-darkest);
  transform: scale(0.95);
}

.toTop::before {
  position: absolute;
  top: 1.1svmin;
  left: 1.4svmin;
  display: inline-block;
  width: 0.8svmin;
  height: 0.8svmin;
  content: '';
  border-top: solid 0.3svmin #fff;
  border-right: solid 0.3svmin #fff;
  transform: rotate(-135deg);
}
