.container {
  grid-area: footer;
  background-color: var(--color-bg-dark);
  color: var(--color-fg-main);
}

.body {
  padding: 8px 16px;
  line-height: 28px;
}

.p {
  margin-left: 20px;
}

.git {
  color: var(--syntax-highlight-yellow);
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--color-accent);
  margin-left: 5px;
  margin-right: 5px;
}

.tab {
  display: flex;
}

.tabItem {
  font-size: 14px;
  color: var(--color-fg-dark);
  margin-left: 20px;
  margin-top: 10px;
}

.tabItem:hover {
  color: var(--color-fg-main);
  cursor: pointer;
}

.choice {
  color: var(--color-fg-main);
  padding-bottom: 5px;
  border-bottom: 0.5px solid var(--color-accent);
}
