.container {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 1.6svmin;
}

.wrap {
  display: grid;
  grid-template: 'image descriptions';
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.6svmin;
}

.wrap:last-child {
  grid-template-areas: 'descriptions image';
}

@media screen and (max-aspect-ratio: 3 / 4) {
  .wrap {
    grid-template:
      'image'
      'descriptions';
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr;
  }

  .wrap:last-child {
    grid-template:
      'descriptions'
      'image';
  }
}

.descriptions {
  display: grid;
  grid-area: descriptions;
  gap: 2svmin;
  padding: 2svmin;
  padding: 1.4rem;
  margin: 0;
  font-size: 1rem;
  background-color: var(--ifm-background-surface-color);
  border-radius: 2svmin;
}

.image {
  display: flex;
  flex-direction: column;
  grid-area: image;
  gap: 2svmin;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 2svmin;
  background-color: var(--ifm-background-surface-color);
  border-radius: 2svmin;
}

.image > img {
  background-color: #aaa;
}

.image > h3 {
  display: flex;
}

.descriptions2 {
  grid-area: description2;
}

.description {
  display: grid;
  grid-template:
    'month description'
    'month    tech    '
    'month   course   ';
  grid-template-rows: repeat(3);
  grid-template-columns: 2fr 8fr;
  gap: 1svmin;
}

.description:not(:last-child) {
  border-bottom: solid 1px #aaa;
}

.description > div {
  display: flex;
}

.description > h3 {
  grid-area: month;
}

.right {
  margin: 0 2svmin 0 auto;
}

.marginLeft {
  margin-left: 0.5rem;
}

.techsRow {
  display: grid;
  grid-template-columns: 3rem 1fr;
}

.techs {
  display: flex;
  flex-wrap: wrap;
}

.courses {
  display: flex;
  flex-wrap: wrap;
}
