.container {
  margin-block: 12px;
  color: var(--color-fg-dark);
}

.textarea {
  display: block;
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  background-color: var(--color-bg-dark);
  border: 1px solid var(--color-border);
  color: var(--color-fg-main);
  resize: none;
}

.textarea:focus,
.textarea:focus-visible {
  outline: none;
  border-color: var(--color-accent);
}
