.container {
  display: grid;
  grid-template-areas:
    'image image image image image'
    'left . dot . right';
  gap: 1.6svmin;
}

.carousel {
  grid-area: image;
  width: 100%;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  border-radius: 1svmin;
  padding: 0;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carouselList {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 2svmin;
}

.carouselItem {
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: min(300px, 43svmin);
  scroll-snap-align: center;
  background-color: var(--ifm-background-surface-color);
  border-radius: 1svmin;
  overflow: hidden;
  scroll-snap-align: start;
}

.carouselImage {
  width: 100%;
  aspect-ratio: 16 / 9;
  background-color: #aaa;
}

.carouselImage > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  scroll-snap-align: start;
}

.carouselText {
  overflow: hidden;
  padding: 2svmin;
}

.carouselText > p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  margin: 0;
}

.dots {
  grid-area: dot;
  display: flex;
  justify-content: space-between;
  gap: min(0.6svh, 1vw);
}

.dot {
  width: min(0.6svh, 1vw);
  height: min(0.6svh, 1vw);
  border-radius: 50%;
  background-color: #aaa;
  transition-property: background-color, transform;
  transition-duration: 0.2s, 0.1s;
  transition-timing-function: ease-in-out;
  align-self: center;
}

.dotActive {
  background-color: var(--ifm-color-primary);
  transform: scale(1.2);
}

.buttons {
  display: contents;
}

.button {
  width: 4svmin;
  height: 2svmin;
  border-radius: 0.6svmin;
  background-color: var(--ifm-color-primary-lightest);
  color: #fff;
  font-weight: bold;
  border: 0;
  transition-property: background-color, transform;
  transition-duration: 0.2s, 0.1s;
  transition-timing-function: ease-in-out, ease-in;
  position: relative;
}

.button:hover {
  background-color: var(--ifm-color-primary-lighter);
}

.button:active {
  background-color: var(--ifm-color-primary-light);
  transform: scale(0.9);
}

.buttonInner {
  width: 100%;
  height: 100%;
}

.left:hover > .buttonInner {
  animation: pyokopyoko-left 0.8s ease-in-out infinite forwards;
}

.right:hover > .buttonInner {
  animation: pyokopyoko-right 0.8s ease-in-out infinite forwards;
}

.left:active > .buttonInner {
  animation-iteration-count: 1;
}

.right:active > .buttonInner {
  animation-iteration-count: 1;
}

.left {
  grid-area: left;
}

.right {
  grid-area: right;
}

.buttonInner::before,
.buttonInner::after {
  content: '';
  display: block;
  width: 0.8svmin;
  height: 0.2svmin;
  position: absolute;
  top: 0.9svmin;
  margin: 0 1.5svmin;
  background-color: #fff;
}

.right > .buttonInner::before,
.right > .buttonInner::after {
  transform-origin: calc(100% - 0.1svmin) 0.1svmin;
}

.left > .buttonInner::before,
.left > .buttonInner::after {
  transform-origin: 0.1svmin 0.1svmin;
}

.right > .buttonInner::after,
.left > .buttonInner::before {
  transform: rotate(45deg);
}

.right > .buttonInner::before,
.left > .buttonInner::after {
  transform: rotate(-45deg);
}

@media screen and (max-aspect-ratio: 3 / 4) {
  .buttons {
    display: none;
  }
}

@keyframes pyokopyoko-left {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-0.5svmin);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes pyokopyoko-right {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(0.5svmin);
  }
  100% {
    transform: translateX(0);
  }
}
