.container {
  display: grid;
  grid-template-areas:
    'image image image image image'
    'left . dot . right';
  gap: 1.6svmin;
}

.carousel {
  grid-area: image;
  width: 100%;
  padding: 0;
  overflow-x: scroll;
  border-radius: 1svmin;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carouselList {
  display: flex;
  gap: 2svmin;
  padding: 0;
  margin: 0;
  list-style: none;
}

.carouselItem {
  flex: 0 0 min(300px, 43svmin);
  overflow: hidden;
  background-color: var(--ifm-background-surface-color);
  border-radius: 1svmin;
  scroll-snap-align: center;
  scroll-snap-align: start;
}

.carouselImage {
  width: 100%;
  aspect-ratio: 16 / 9;
  background-color: #aaa;
}

.carouselImage > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  scroll-snap-align: start;
}

.carouselText {
  padding: 2svmin;
  overflow: hidden;
}

.carouselText > p {
  display: -webkit-box;
  margin: 0;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}

.dots {
  display: flex;
  grid-area: dot;
  gap: min(0.6svh, 1vw);
  justify-content: space-between;
}

.dot {
  align-self: center;
  width: min(0.6svh, 1vw);
  height: min(0.6svh, 1vw);
  background-color: #aaa;
  border-radius: 50%;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s, 0.1s;
  transition-property: background-color, transform;
}

.dotActive {
  background-color: var(--ifm-color-primary);
  transform: scale(1.2);
}

.buttons {
  display: contents;
}

.button {
  position: relative;
  width: 4svmin;
  height: 2svmin;
  padding: 0;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  background-color: var(--ifm-color-primary-lightest);
  border: 0;
  border-radius: 0.6svmin;
  transition-timing-function: ease-in-out, ease-in;
  transition-duration: 0.2s, 0.1s;
  transition-property: background-color, transform;
}

.button:hover {
  background-color: var(--ifm-color-primary-lighter);
}

.button:active {
  background-color: var(--ifm-color-primary-light);
  transform: scale(0.9);
}

.buttonInner {
  width: 100%;
  height: 100%;
}

.left:hover > .buttonInner {
  animation: pyokopyoko-left 0.8s ease-in-out infinite forwards;
}

.right:hover > .buttonInner {
  animation: pyokopyoko-right 0.8s ease-in-out infinite forwards;
}

.left {
  grid-area: left;
}

.right {
  grid-area: right;
}

.buttonInner::before,
.buttonInner::after {
  position: absolute;
  top: 0.9svmin;
  right: auto;
  left: auto;
  display: block;
  width: 0.8svmin;
  height: 0.2svmin;
  margin: 0 1.5svmin;
  content: '';
  background-color: #fff;
}

.right > .buttonInner::before,
.right > .buttonInner::after {
  transform-origin: calc(100% - 0.1svmin) 0.1svmin;
}

.left > .buttonInner::before,
.left > .buttonInner::after {
  transform-origin: 0.1svmin 0.1svmin;
}

.right > .buttonInner::after,
.left > .buttonInner::before {
  transform: rotate(45deg);
}

.right > .buttonInner::before,
.left > .buttonInner::after {
  transform: rotate(-45deg);
}

@media screen and (max-aspect-ratio: 3 / 4) {
  .buttons {
    display: none;
  }
}

@keyframes pyokopyoko-left {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-0.5svmin);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes pyokopyoko-right {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(0.5svmin);
  }

  100% {
    transform: translateX(0);
  }
}
