.container {
  grid-area: sidebar;
}

.array {
  width: 20px;
  height: 20px;
  background-color: #000;
  clip-path: polygon(25% 65%, 45% 85%, 65% 65%, 65% 60%, 45% 80%, 25% 60%);
}

.column {
  width: 100%;
  height: 20px;
  display: flex;
}
