.container {
  grid-area: sidebar;
}

.arrow {
  position: relative;
  width: 7px;
  height: 7px;
  border-top: solid 1px #000;
  border-right: solid 1px #000;
  transform-origin: 75% 25%;
  top: 10px;
}

.column {
  width: 100%;
  height: 20px;
  display: flex;
}
