.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px 24px;
}

.button {
  display: block;
  width: min(360px, 92vmin);
  background-color: #ddeeff;
  padding: 16px 24px;
  border-radius: 16px;
  margin-top: 16px;
  transition: background-color ease 0.2s;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px 24px;
  background-color: var(--color-bg-dark);
  padding: 16px 24px;
  border-radius: 16px;
  margin-top: 16px;
  color: white;
  transition: background-color ease 0.2s;
}
.card > h1 {
  color: var(--color-accent);
}

.button:hover {
  background-color: #cdf;
}

.logoutButton {
  display: block;
  width: min(150px, 92vmin);
  background-color: var(--color-fg-main);
  padding: 16px 24px;
  border-radius: 16px;
  margin-top: 16px;
  transition: background-color ease 0.2s;
}
