.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.topImg {
  display: grid;
  width: 100%;
  height: auto;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
}
