.body {
  width: 100%;
  height: 100%;
  background-color: var(--color-bg-dark);
  border-bottom: 1px solid var(--color-border);
}

.tab {
  display: inline-flex;
  align-items: center;
  height: 35px;
  width: fit-content;
  background-color: var(--color-bg-main);
  border-top: 3px solid var(--color-accent);
  border-right: 1px solid var(--color-border);
  position: relative;
  padding: 0 35px 0 10px;
}

.title {
  font-size: 14px;
  letter-spacing: 0;
  font-weight: 500;
  color: var(--color-fg-main);
}

.cross {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 25px;
  height: 25px;
  border-radius: 4px;
}

.cross:hover {
  cursor: pointer;
  background-color: var(--color-bg-hover);
}

.cross::before,
.cross::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 12px;
  background: var(--color-fg-main);
}

.cross::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.cross::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
