.container {
  display: grid;
  grid-template-columns: 1fr 88svmin 1fr;
  gap: 2svmin;
}

.title {
  display: flex;
  flex-direction: column;
  grid-column: 2;
  margin: 8svmin 0 6svmin;
}

.title > h1 {
  margin: 0;
  font-size: 2.4rem;
  line-height: 3rem;
}

.title > p {
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 2rem;
  color: var(--ifm-color-primary);
}

.main {
  grid-column: 2;
  margin-bottom: 4svmin;
}

.members {
  display: flex;
  flex-direction: column;
  gap: 8svmin;
  padding: 0;
}

.memberList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(80svw, 25svh), 1fr));
  gap: 4svmin;
  padding: 0;
}

.member {
  display: block;
  list-style: none;
}

.member > a {
  display: block;
  color: inherit;
  text-decoration: none;
}

.grade {
  list-style: none;
}

.grade > h2 {
  position: relative;
  margin: 0;
  margin-bottom: 1svmin;
  font-size: 1.6rem;
  line-height: 2rem;
}

.grade > h2 > a {
  color: inherit;
  text-decoration: none;
}

.grade > h2::before {
  position: absolute;
  top: 0;
  left: -1.6rem;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2rem;
  color: transparent;
  content: '#';
  background-image: linear-gradient(
    135deg,
    var(--ifm-color-primary-lightest) 0%,
    var(--ifm-color-primary-dark) 100%
  );
  background-clip: text;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.grade > h2:hover::before {
  opacity: 1;
}
