.container {
  display: grid;
  grid-template-columns: 1fr 88svmin 1fr;
  gap: 2svmin;
}

.title {
  display: flex;
  flex-direction: column;
  grid-column: 2;
  gap: 1svmin;
  margin: 4svmin 0;
}

.title > h1 {
  margin: 0;
  font-size: 4svmin;
  line-height: 4svmin;
}

.title > p {
  margin: 0;
  font-size: 2svmin;
  font-weight: bold;
  line-height: 2svmin;
  color: var(--ifm-color-primary);
}

.main {
  grid-column: 2;
  margin-bottom: 4svmin;
}

.members {
  display: flex;
  flex-direction: column;
  gap: 4svmin;
  padding: 0;
}

.grade {
  list-style: none;
}

.grade > h2 {
  margin: 0;
  margin-bottom: 1svmin;
  font-size: 3svmin;
  line-height: 3svmin;
}

.memberList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(80svw, 25svh), 1fr));
  gap: 2svmin;
  padding: 0;
}

.member {
  aspect-ratio: 3 / 4;
  list-style: none;
  background-color: var(--ifm-background-surface-color);
  border-radius: 1svmin;
  box-shadow: 0 0 0.4svmin #0001;
}
