.container {
  display: flex;
  gap: 2svmin;
  width: 100%;
  margin-bottom: 8svmin;
}

.course {
  flex-grow: 0;
  flex-shrink: 1;
  overflow: hidden;
  background-color: white;
  border-radius: 1svmin;
}

.courseImage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 150px;
  background-color: rgb(191 191 191);
  background-image: url('https://github.com/INIAD-Developers.png');
  background-position: center;
  background-size: cover;
}

.courseInfo {
  height: 100%;
}

.courseInfo > h3 {
  margin: 3svmin 2svmin 1svmin;
  overflow: hidden;
  font-size: 1.2rem;
  line-height: 1.6rem;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.courseInfo > p {
  margin: 1svmin 2svmin 0;
}
