.container {
  display: grid;
  grid-template-columns: min(300px, 36vw) 1fr;
  grid-template-rows: 35px 1fr 200px;
  grid-template-areas:
    'sidebar header'
    'sidebar main'
    'sidebar footer';
  min-height: 100vh;
  gap: 1px;
  background-color: var(--color-border);
}

.main {
  grid-area: main;
}
