.container {
  display: grid;
  grid-template-columns: min(300px, 36vw) 1fr;
  grid-template-rows: 25px 1fr 200px;
  grid-template-areas:
    'sidebar header'
    'sidebar main'
    'sidebar footer';
  min-height: 100vh;
}

.main {
  grid-area: main;
  border: solid 1px black;
}
