.input {
  display: block;
  background-color: #333;
  border: none;
  left: 200px;
  height: 100%;
  width: auto;
  color: #fff;
}

.column {
  display: flex;
  height: 25px;
  /* border: 1px solid; */
}

.column2 {
  display: flex;
  height: 100px;
  /* border: 1px solid; */
}

.container {
  color: white;
  font-weight: bold;
  white-space: pre-wrap;
}

.name,
.bracket-1 {
  color: #feff8d;
}

.bracket-2 {
  color: #fb00fa;
}

.const,
.null,
.undefined,
.boolean,
.bracket-3 {
  color: #0078d4;
}

.key {
  color: #89fefe;
}

.string {
  color: #f3b371;
}

.number {
  color: #94cea8;
}
