html,
body {
  letter-spacing: 0.1em;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@media print {
  .noPrint {
    display: none;
  }
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-track {
  background: #1f1f1f;
}

::-webkit-scrollbar-thumb {
  background: #2a2d2e;
}

::-webkit-scrollbar-thumb:hover {
  background: #35373a;
}

:root {
  --color-bg-main: #1f1f1f;
  --color-bg-dark: #181818;
  --color-bg-selected: #37373d;
  --color-bg-hover: #2a2d2e;
  --color-fg-main: #cccccc;
  --color-fg-dark: #8c949d;
  --color-border: #313131;
  --color-accent: #1d76d0;
}
