.container {
  color: var(--color-fg-dark);
  margin-block: 24px;
}

.header {
  display: flex;
  align-items: flex-end;
  margin-bottom: 8px;
  height: 24px;
}

.header > span {
  flex-shrink: 1;
  flex-grow: 1;
  font-size: 12px;
}

.header > .button {
  flex-shrink: 0;
  flex-grow: 0;
  height: 100%;
  background-color: var(--color-accent);
  padding: 0 8px;
  border: 0;
  border-radius: 4px;
  color: var(--color-fg-main);
  transition-property: filter, transform;
  transition-duration: 0.1s, 0.05s;
  transition-timing-function: ease-in-out;
}

.button:hover {
  filter: brightness(1.2);
}

.button:active {
  transform: scale(0.95);
}

.item {
  display: flex;
  min-height: 30px;
  margin-bottom: 8px;
}

.sort {
  flex-grow: 0;
  flex-shrink: 0;
  height: 100%;
  aspect-ratio: 1;
}

.accordion {
  display: inline-block;
  margin-right: 16px;
  height: 8px;
  width: 8px;
  border-right: 2px solid var(--color-fg-dark);
  border-bottom: 2px solid var(--color-fg-dark);
  transform: rotate(45deg);
  transition: transform 0.2s ease-in-out;
}

.details {
  flex-grow: 1;
  flex-shrink: 1;
  background-color: var(--color-bg-dark);
  border-radius: 4px;
  border: solid 1px var(--color-border);
  padding: 4px 16px 4px 16px;
  position: relative;
}

.details[open] .accordion {
  transform: rotate(-135deg);
}

.title {
  display: flex;
  align-items: center;
  height: 30px;
  line-height: 30px;
  color: var(--color-fg-main);
}

.title-text {
  flex-grow: 1;
  flex-shrink: 1;
}

.remove {
  flex-grow: 0;
  flex-shrink: 0;
  height: 100%;
  aspect-ratio: 1;
  background-color: transparent;
  border-radius: 50%;
  border: 0;
  position: relative;
  right: -12px;
}

.remove::before,
.remove::after {
  content: '';
  display: block;
  position: absolute;
  top: calc(50% - 1px);
  left: 25%;
  width: 50%;
  height: 2px;
  background-color: var(--color-fg-main);
}

.remove::before {
  transform: rotate(45deg);
}

.remove::after {
  transform: rotate(-45deg);
}

.remove:hover,
.remove:focus,
.remove:focus-visible {
  outline: none;
  background-color: var(--color-bg-selected);
}
